[MASTER]
max-line-length = 120
enable = all
ignored-modules = python_qt_binding
min-public-methods = 0


# Disabled checks
disable = len-as-condition, too-many-locals, locally-disabled, suppressed-message

# Allow some single-letter variable names
good-names=i,j,k,f,x,y,z,_

# Don't warn on TODOs
notes =

# Don't format the boilerplate setup.py files
ignore = setup.py

# Run 4 concurrent jobs to speed up
jobs = 4
