<?xml version="1.0"?>
<robot>
  <!-- These materials all match the Gazebo materials. ie Grey corresponds to Gazebo/Grey, etc -->

  <material name="Grey">
    <color rgba="0.3 0.3 0.3 1"/> <!-- TODO: Verify -->
  </material>

  <material name="DarkGrey">
    <color rgba="0.175 0.175 0.175 1"/>
  </material>

  <material name="White">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="FlatBlack">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>

  <material name="Black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="Red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="RedBright">
    <color rgba="0.87 0.26 0.07 1"/>
  </material>

  <material name="Green">
    <color rgba="0 1 0 1"/>
  </material>

  <material name="Blue">
    <color rgba="0 0 1 1"/>
  </material>

  <material name="SkyBlue">
    <color rgba="0.13 0.44 0.70 1"/>
  </material>

  <material name="Yellow">
    <color rgba="1 1 0 1"/>
  </material>

    <material name="ZincYellow">
    <color rgba="0.9725 0.9529 0.2078 1"/>
  </material>

  <material name="DarkYellow">
    <color rgba="0.7 0.7 0 1"/>
  </material>

  <material name="Purple">
    <color rgba="1 0 1 1"/>
  </material>

  <material name="Turquoise">
    <color rgba="0 1 1 1"/>
  </material>

  <material name="Orange">
    <color rgba="0 1 1 1"/>
  </material>

  <material name="Indigo">
    <color rgba="0 1 1 1"/>
  </material>

  <material name="Gold">
    <color rgba="0.400000 0.248690 0.020759 1"/>
  </material>

</robot>
